<%= form_for(@photo, html: {multipart: true}) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :camera %><br>
    <%= f.collection_select :camera_id, Camera.all, :id, :name %>
  </div>
  <div class="field">
    <%= label_tag :photo_file %>
    <%= file_field_tag :photo_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
